/*Font Faces*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --bgc: #F5F5F5; 
    --bgc--dark-mode: #08111c;
    --textc: #313639;
    --textc--dark-mode: #d7d7de;
    --hlc: #2c5190; 
    --hlc--dark-mode: #3985e3; 
    --hluc: #29ABE2; 
}

body {
  margin:           0px;
  padding:          0px;
  font-family:      "Lato", sans-serif;
  font-size:        21px;
  background-color: var(--bgc);
  color:            var(--textc);
  cursor:           default;
} .dark-mode {
  background-color: var(--bgc--dark-mode);
  color:var(--textc--dark-mode);
  border-color: var(--bgc--dark-mode)
}

@media only screen and (min-width: 801px) {
  .content {
    padding: 20px 20vw;
  }
  .contact-icon-row {
    text-align:left;
  }
}

@media only screen and (max-width: 800px) {
  .content {
    padding: 20px 50px;
  }
  .contact-icon-row {
    text-align:justify;
    text-justify: inter-word;
  }
}

/* Navigation Bar */
.navbar {
  /* background-color: grey;*/
  padding:25px;
  margin:0;
  z-index: 2;
}

.navbar--fixed-top {
  position: sticky;
  top: 0;
}

.navbar-inner {
  /*background-color: lightgray;*/
}

.navbar--items {
  align-items: center;
    display: flex;
}

.navbar--items--right {
  flex: 0 0 auto;
  justify-content: flex-end;
}

.toggle-mode-button {
  border-radius:50%;
  width:48px;
  height:48px;
  background-color: transparent;
  transition-duration: 200ms;
  border: none;
}.toggle-mode-button:hover {
  background-color: #dedede;
  transition-duration: 200ms;
}.dark-mode .toggle-mode-button:hover {
  background-color: #18212c;
}

.mode-toggle-icon {
  font-size: 24pt;
  color: var(--hlc)
}.dark-mode .mode-toggle-icon {
  color: var(--hlc--dark-mode);
}

.about-me p {
    text-align:left;
    line-height:1.5;
}

a {
  color:var(--hlc);
  cursor:pointer;
}


.contact {
    font-family:"Jetbeans Mono", monospace;
}

.contact-icon {
    padding:5px;
}

.copy:hover {
    cursor:copy;
}

.contact-buttons {
    transition: all .2s ease-in-out;
    padding:10px;
    font-size:48px;
    color:var(--hlc);
}.dark-mode .contact-buttons {
    color:var(--hlc--dark-mode);
}

.copy {
    color: var(--textc);
}

  .site-details {
    position: absolute;
    bottom:15px;
    left:15px;
    font-size:25px;
  }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color:#000;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 500px;
    border: 1px solid #888;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.charcoal-block{
  background-color:#2F3E46;
} .ashgray-block{
  background-color:#CAD2C5
} .darkseagreen-block{
  background-color:#84A98C;
} .hookersgreen-block {
  background-color: #52796F;
} .darkslategray-block {
  background-color: #354F52;
}

.block{
  padding:5px;
}

.name {
  color: var(--hlc);
}.dark-mode .name {
  color: var(--textc--dark-mode);
}

.dark-mode .hi-im {
  color: var(--hlc--dark-mode);
}

#name-intro {
  line-height: 36px;
}

.dep-name {
  font-weight:bold;
}

.portrait {
  height:200px;
  border:10px solid;

  border-color: var(--bgc);
  margin-left: -10px;
  margin-top: -10px;
  border-radius:50% 50% 0 50%;
  /*border-radius: 50%;*/
}

.dark-mode .portrait {
  border-color: var(--bgc--dark-mode);
}

.resume {
  margin-top:15px;
  height:40px;
  width:175px;
  border-radius:50px;
  border: none;
  font-size: 15px;
  background-color: var(--hlc);
  color:white;
  cursor:pointer;
  font-family:    "Lato", sans-serif;
  margin-right: 15px;
}

.header {
  background-image:url(media/berkeleybanner.jpeg);
  background-position-y: 50%;
  background-size: cover;
  height:200px;
  width: 100%;
  
  border-radius:100px;
  /*border-radius:100px 100px 0 100px;*/
  /**border: 1px black solid;
  width:min-content;
  transform-origin: center; /* Sets the rotation point to the center of the container */
  /*transform: rotate(10deg);*/
}


.email {
  font-family:      "Space Mono", monospace;
  width:230px;
  cursor:copy;
}