/*Font Faces*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/*colors*/
:root {
    --bgc: #2F3E46; /*Charcoal*/
    --bgc: #F5F5F5; /*Charcoal*/
    --textc: #CAD2C5; /*Ash Gray*/
    --textc: #313639;
    --hlc: #84A98C; /*Dark Sea Green*/
    --hluc: #52796F; /*Hookers Green*/
    --dark-slate-gray: #354F52;
}
body {
    margin: 0px;
    font-family:'Times New Roman', Times, serif;
    font-size:21px;
    background-color:var(--bgc);
    color:var(--textc);
    cursor:default;
}

/*
Navigation bar
*/
nav ul {
	border-left:none;
	top:0;
	margin:0;
	padding:0;
	width:100%;
	position:fixed;
	list-style-type:none;
}
nav ul li a {
	float:left;
	position:relative;
	padding:18px;
	display:block;
	text-align:center;
	text-decoration:none;
	color:inherit;
	font-size:20px;
	transition-duration:400ms;
  float:right;
	border-right:none;
}

nav ul li a:hover {
	transition: all ease-in-out 300ms;
}
nav ul li a.name:hover {
	background-color:white;
	cursor:default;
}
nav ul li a:active {
	color:var(--textc);
}
nav ul li a::before {
	content:'';
	display:block;
	height:7.5px;
	width:100%;
	margin-left:-18px;
	
	top:0;
	position:absolute;
	width:0;
	transition: all ease-in-out 500ms;
}
a::before {
	background:var(--textc);
}
a.name:hover::before {
	width:0;
}
nav a:hover::before {
	width:100%;
}



.content {
    text-align:center;
    margin:auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding:5px;
    
}

.about-me p {
    text-align:left;
    text-indent:50px;
    line-height:1.5;
}


a {
    color:var(--hlc)
}
.contact {
    font-family:"Jetbeans Mono", monospace;
}
.contact-icon {
    padding:5px;
}
a.email {
    text-decoration: none; 
}
.email {
    border-color: var(--hluc);
    border-width:0 0 5px 0;
    border-style:solid;
    transition-duration:400ms;
    background-color:none;
    color:var(--hlc);

}.email:hover{
    background-color: var(--hluc);
    color:var(--textc);
    transition-duration: 450ms;
}

.copy:hover {
    cursor:copy;
}

.grow {
    transition: all .2s ease-in-out;
    padding:10px;
    font-size:48px;
}
.grow:hover{
    transform: scale(1.4);
}
.copy {
    color: var(--textc);
}



/*From https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_bottom*/
.tooltip {
    position: relative;
    display: inline-block;
    font-family:"Roboto", Helvetica, Arial, sans-serif;
    transition-duration:500ms;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #1e282eE9;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 540%;
    margin-left: -230px;
    font-size:15px;
    transition-duration:100ms;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }



  .site-details {
    position: absolute;
    bottom:15px;
    left:15px;
    font-size:25px;
  }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color:#000;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 500px;
    border: 1px solid #888;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  .charcoal-block{
    background-color:#2F3E46;
  }
  .ashgray-block{
    background-color:#CAD2C5
  }.darkseagreen-block{
    background-color:#84A98C;
  }.hookersgreen-block {
background-color: #52796F;
  }.darkslategray-block {
background-color: #354F52;
  }

  .block{
    padding:5px;
  }


  